In [1]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo= False)

In [2]:
Health_per_GDP= "Health_Spending_Per_of_GDP.csv"
Health_US_Spending="Health_Spending_US_Dollar_Per_Capita.csv"

In [3]:
Health_per_GDP_df= pd.read_csv(Health_per_GDP)
Health_US_Spending_df= pd.read_csv(Health_US_Spending)

In [4]:
Health_per_GDP_df.head(5)

     Country  INDICATOR  TIME   Value
0  Australia  HEALTHEXP  2018   9.252
1    Austria  HEALTHEXP  2018  10.330
2    Belgium  HEALTHEXP  2018  10.372
3     Canada  HEALTHEXP  2018  10.734
4    Czechia  HEALTHEXP  2018   7.515

In [5]:
Merged_World_df = pd.merge(Health_per_GDP_df, Health_US_Spending_df, on="Country")
Merged_World_df.head()

     Country INDICATOR_x  TIME_x  Value_x INDICATOR_y  TIME_y   Value_y
0  Australia   HEALTHEXP    2018    9.252   HEALTHEXP    2018  5005.316
1    Austria   HEALTHEXP    2018   10.330   HEALTHEXP    2018  5395.106
2    Belgium   HEALTHEXP    2018   10.372   HEALTHEXP    2018  4943.537
3     Canada   HEALTHEXP    2018   10.734   HEALTHEXP    2018  4974.330
4    Czechia   HEALTHEXP    2018    7.515   HEALTHEXP    2018  3057.615

In [6]:
Merged_World_df= Merged_World_df[['Country','TIME_x','Value_x','Value_y']]
Merged_World_df.head(5)

     Country  TIME_x  Value_x   Value_y
0  Australia    2018    9.252  5005.316
1    Austria    2018   10.330  5395.106
2    Belgium    2018   10.372  4943.537
3     Canada    2018   10.734  4974.330
4    Czechia    2018    7.515  3057.615

In [7]:
Merged_World_df=Merged_World_df.rename(columns={
    'Value_x':'Health_Spending_by_GDP',
    'Value_y':'Health_Spending_USD_by_Capita',
    'TIME_x':'Year'
})

In [8]:
Covid_csv='Covid.csv'
Covid_df= pd.read_csv('Covid.csv')

In [9]:
Covid_df = Covid_df.drop(columns=['Unnamed: 0'])

In [10]:
Final_World_df= pd.merge(Merged_World_df, Covid_df, on="Country")
Final_World_df

,Country,Year,Health_Spending_by_GDP,Health_Spending_USD_by_Capita,Population,% of world,Total Cases,Total Deaths,Active Cases,Total Cases/1M Population,Tests/1M Population
0,Australia,2018,9.252000,5005.316000,"25,696,194",0.33%,"6,767",93,929,265,"23,093"
1,Austria,2018,10.330000,5395.106000,"8,902,600",0.11%,"15,531",589,"1,832","1,724","29,321"
2,Belgium,2018,10.372000,4943.537000,"11,524,454",0.15%,"49,032","7,703","29,437","4,231","21,847"
3,Canada,2018,10.734000,4974.330000,"38,014,184",0.49%,"55,061","3,391","28,919","1,459","22,050"
4,Denmark,2018,10.470000,5298.821000,"5,822,763",0.07%,"9,311",460,"2,122","1,608","35,665"
5,Finland,2018,9.075000,4228.211000,"5,528,390",0.07%,"5,051",218,"1,833",912,"17,615"
6,France,2018,11.177000,4964.710000,"67,075,000",0.86%,"167,346","24,594","92,540","2,564","16,856"
7,Germany,2018,11.229000,5986.430000,"83,149,300",1.07%,"164,077","6,736","30,441","1,958","30,400"
8,Greece,2018,7.846000,2238.171000,"10,724,599",0.14%,"2,612",140,"1,098",251,"7,412"
9,Hungary,2018,6.593000,2046.777000,"9,772,756",0.13%,"2,863",323,"1,931",296,"7,901"
10,Iceland,2018,8.340000,4349.094000,"366,130",0.00%,"1,798",10,99,"5,269","143,988"
11,Ireland,2018,7.095000,4915.493000,"4,921,500",0.06%,"20,833","1,265","6,182","4,219","31,179"
12,Italy,2018,8.813000,3427.807000,"60,238,522",0.77%,"207,428","28,236","100,943","3,431","33,962"
13,Luxembourg,2018,5.408000,5070.172000,"626,108",0.01%,"3,802",92,497,"6,074","71,720"
14,Netherlands,2018,9.941000,5288.436000,"17,461,531",0.22%,"39,791","4,893","34,648","2,322","13,184"
15,New Zealand,2018,9.341000,3922.635000,"4,982,574",0.06%,"1,479",19,208,307,"29,011"
16,Norway,2018,10.182000,6186.920000,"5,367,580",0.07%,"7,783",210,"7,541","1,436","31,835"
17,Poland,2018,6.288000,2056.358000,"38,379,000",0.49%,"13,105",651,"8,963",346,"9,370"
18,Portugal,2018,9.099000,2861.383000,"10,276,617",0.13%,"24,987","1,007","22,333","2,450","40,205"
19,Slovakia,2018,6.729000,2290.330000,"5,457,873",0.07%,"1,403",23,822,257,"16,681"
20,Spain,2018,8.860000,3322.619000,"47,100,396",0.61%,"242,979","24,824","75,714","5,197","32,699"
21,Sweden,2018,11.037000,5447.109000,"10,338,368",0.13%,"21,520","2,653","17,862","2,131","11,833"
22,Switzerland,2018,12.183000,7316.605000,"8,603,899",0.11%,"29,705","1,754","4,051","3,432","31,371"
23,Turkey,2018,4.172000,1226.585000,"83,154,997",1.07%,"122,392","3,258","65,326","1,451","12,747"
24,UK,2018,9.768000,4069.569000,"66,435,550",0.85%,"177,454","27,510","149,600","2,614","15,082"
25,USA,2018,16.937000,10586.084000,"329,617,910",4.24%,"1,131,030","65,753","903,714","3,417","20,241"
26,Chile,2018,8.911000,2181.726000,"19,107,216",0.25%,"17,008",234,"7,756",890,"9,910"
27,Estonia,2018,6.449000,2231.406000,"1,328,360",0.02%,"1,694",52,"1,389","1,277","40,532"
28,Israel,2018,7.463000,2779.656000,"9,193,500",0.12%,"16,101",225,"6,720","1,860","42,108"
29,Slovenia,2018,7.946000,2859.446000,"2,094,060",0.03%,"1,434",92,"1,109",690,"25,469"
30,Latvia,2018,5.866000,1748.537000,"1,906,800",0.02%,870,16,506,461,"32,404"
31,Lithuania,2018,6.805000,2415.823000,"2,793,471",0.04%,"1,399",45,760,514,"48,771"
32,Azerbaijan,2018,8.797306,3994.122389,"10,067,108",0.13%,"1,854",25,464,183,"14,462"

In [11]:
Final_World_df.loc[Final_World_df['Country'] == 'USA']

,Country,Year,Health_Spending_by_GDP,Health_Spending_USD_by_Capita,Population,% of world,Total Cases,Total Deaths,Active Cases,Total Cases/1M Population,Tests/1M Population
25,USA,2018,16.937,10586.084,"329,617,910",4.24%,"1,131,030","65,753","903,714","3,417","20,241"

In [12]:
Final_World_df = Final_World_df.rename(columns={
    "% of world": "percent_of_world",
    "Total Cases": "Total_Cases",
    "Total Deaths": "Total_Deaths",
    " Active Cases": "Active_Cases",
    "Total Cases/1M Population": "Cases_by_1M_Population",
    "Tests/1M Population": "Tests_by_1M_Population"  
})

In [16]:
Final_World_df.to_csv('Final_World_df.csv', index=False)